flask
flask-cors
openai
psycopg2-binary
scikit-learn
gTTS
elevenlabs
bcrypt
pytest
numpy
httpx
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
onnxruntime-gpu
transformers
huggingface_hub
